# Ignorar arquivos e pastas específicos
# Node
node_modules/
npm-debug.log
/uploads/
/postman/
.postman/

# Ambiente
.env

# Logs
logs/
*.log
*.log.*

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
